@import url("./fonts/GTEestiPro/stylesheet.css");

:root {
  --main-color: rgb(102, 186, 189);
  --font-color: rgb(102, 101, 101);
  --tip-font-color: rgb(182, 180, 180);
  --tip-background-color: rgb(243, 243, 243);
  --large-font-size: 1.3rem;
  --small-font-size: 0.85rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  padding: 2rem 9rem;
  font-family: "GT Eesti Pro Text", arial, sans-serif;
  background-color: white;
  color: var(--font-color);
}

main {
  margin-top: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: 0;
}

button:hover {
  opacity: 0.75;
}
button:active {
  opacity: 0.5;
}

/* Remove arrows for the input with type 'number' */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
