.top-frame {
  margin-bottom: var(--top-frame-margin-bottom);
  height: var(--top-frame-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.top-frame__left {
  margin-right: 2rem;
  height: inherit;
  width: 20%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-shrink: 0;
}

.top-frame__left__logo {
  margin-right: 2rem;
  height: inherit;
  box-sizing: border-box;
}

.top-frame__left__catalogue-container {
  position: relative;
  height: inherit;
  box-sizing: border-box;
}

.top-frame__left__catalogue-container__button {
  height: inherit;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
  text-align: center;
  font-family: inherit;
  font-size: 1.2rem;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.15s;
}

.top-frame__left__catalogue-container__catalogue {
  position: absolute;
  margin-top: var(--top-frame-margin-bottom);
  top: 100%;
  left: 0;
  width: 150%;
  background-color: white;
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  flex-shrink: 0;
}

.top-frame__left__catalogue-container__catalogue.active {
  opacity: 1;
  pointer-events: all;
}

.top-frame__left__catalogue-container__catalogue__category {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  box-sizing: border-box;
  text-align: left;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  background-color: white;
  color: var(--font-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.15s;
}

.top-frame__left__catalogue-container__catalogue__category:hover {
  background-color: var(--tip-background-color);
  color: var(--main-color);
}

.top-frame__search-bar {
  margin-right: 1rem;
  height: inherit;
  flex: 1;
  width: 5rem;
  font-size: 1.2rem;
  color: inherit;
  border: none;
  border-radius: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: 0;
}

.top-frame__search-bar:focus {
  outline: none;
}

.top-frame__search-bar__bar {
  height: inherit;
  flex: 5;
  padding-left: 1rem;
  font-family: inherit;
  font-size: 1.2rem;
  color: inherit;
  border: 0.1rem solid var(--main-color);
  border-right: none;
  border-bottom-left-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  box-sizing: border-box;
}

.top-frame__search-bar__bar:focus {
  outline: none;
}

.top-frame__search-bar__bar::placeholder {
  font-family: "GT Eesti Pro Text", arial, sans-serif;
  color: var(--tip-font-color);
}

.top-frame__search-bar__button {
  height: inherit;
  flex: 1;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.2rem;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.15s;
}

.top-frame__right {
  height: inherit;
  width: 20%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  flex-shrink: 0;
}

.top-frame__right__user {
  margin-right: 1.5rem;
  height: inherit;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
}

.top-frame__right__user__icon {
  height: 65%;
  box-sizing: border-box;
  object-fit: contain;
  cursor: pointer;
}

.top-frame__right__user__username {
  font-size: var(--small-font-size);
  box-sizing: border-box;
  cursor: pointer;
}

.top-frame__right__cart {
  margin-right: 1.5rem;
  height: inherit;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
}

.top-frame__right__cart__icon {
  height: 65%;
  box-sizing: border-box;
  object-fit: contain;
  cursor: pointer;
}

.top-frame__right__cart__label {
  font-size: var(--small-font-size);
  box-sizing: border-box;
  cursor: pointer;
}
